* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin-bottom: -236px;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

#cards-links li {
  border: 1px solid white;
  list-style-type: none;
  width: 25%;
}

#right-bottom-links li {
  list-style-type: none;
  margin-right: 3px;
  margin-left: 3px;
  padding-left: 3px;
  padding-right: 5px;
}

#copyright li {
  list-style-type: none;
  margin-right: 3px;
  margin-left: 3px;
  padding-left: 3px;
  padding-right: 5px;
}

#left-bottom-info > a {
  color: #08c;
  text-decoration: none;
}

#right-bottom-links li:not(.noBorder) {
  border-right: 1px solid #6e6e6e;
}

#right-bottom-links li a {
  color: #08c;
  text-decoration: none;
}

#copyright li:not(.noBorder) {
  border-right: 1px solid #6e6e6e;
}

#copyright li a {
  color: #08c;
  text-decoration: none;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -145px;
}

.hero-image {
  width: 1440px;
  height: 670px;
  background-image: url("/images/hero.jpg");
  background-position-y: bottom;
  position: relative;
  top: 0;
  z-index: -5;
}

section header {
  width: 1440px;
  height: 890px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 100px;
}

#top-title,
#mid-title,
#low-title {
  margin: auto;
  position: relative;
}

#top-title {
  width: 980px;
  height: 104px;
  background-image: url("/images/what-will-your-verse-be.png");
  top: -450px;
}

#mid-title {
  width: 980px;
  height: 82px;
  background-image: url("/images/everyone-has-something.png");
  top: -450px;
}

#low-title {
  width: 980px;
  height: 34px;
  background-image: url("/images/watch-your-verse.png");
  top: -430px;
}

#low-title:hover {
  background-position-y: 96px;
  cursor: pointer;
}

aside {
  width: 1440px;
  margin: -280px auto auto auto;
}

#cards-links {
  display: inline-flex;
  padding: 0;
}

#cards-links img {
  width: 100%;
  height: 100%;
}

footer {
  width: 1000px;
  height: 54px;
  color: #6e6e6e;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
  font-size: 0.55rem;
  font-weight: 600;
  margin: 10px auto auto auto;
}

.footer-container,
#right-bottom-links,
#bottom,
#copyright {
  display: inline-flex;
}

.footer-container {
  width: 100%;
}
